<!doctype html>
<html class="no-js" lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88385099-1', 'auto');
    ga('send', 'pageview');
  </script>
  <meta name="p:domain_verify" content="ec45e12c8a1ea0c92893a2ceabca2d29"/>

<!-- Ebay -->
  <script>window._epn = {campaign:5338046469};</script> <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>

  <meta name="description" content="{{ page.description }}" />
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/icons/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/icons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/icons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/icons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/icons/apple-touch-icon-precomposed.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />

  <!-- google adsense -->

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8109892167934980",
          enable_page_level_ads: true
     });
</script>

  <!-- RSS FEED
 ================================================== -->
 <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.url}}/assets/img/imagen-coorporativa/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{site.url}}/assets/img/imagen-coorporativa/favicon-32x32.png" sizes="32x32" />
  <meta name="application-name" content="Las aspiradoras"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="http://www.lasaspiradoras.commstile-144x144.png" />
  <meta name="p:domain_verify" content="ec45e12c8a1ea0c92893a2ceabca2d29"/>
</head>
<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </span>
        </button>

        <!-- Menu -->
        <ul class="vertical menu">
          {% for item in site.data.nav-main %}
            <li><a href="{{ item.url }}">{{ item.link }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <script>
      (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g); t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/68340/script.js');
      </script>
      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Page content -->
