<div class="container-article">
 <div class="row">
    <p class="text-center small">Has llegado al final! ¯\_(⊙︿⊙)_/¯</p>
 <div class="menu-centered">
    <ul class="menu">
    {% for item in site.data.nav-footer %}
      <li><a href="{{ item.url }}">{{ item.link }}</a></li>
    {% endfor %}
      <li><a href="https://es.pinterest.com/lasaspiradoras/" title="Twitter" target="_blank">Pinterest</a></li>
    </ul>
    <p class="text-center small">© 2016 <a href="http://www.lasaspiradoras.com" title="Las aspiradoras – Analisis de las mejores aspiradoras del mercado">Las aspiradoras</a> – Todos los derechos reservados</p>
  </div>
 </div>
</div>
