<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="show-for-large"><a href="{{ site.url }}/#inicio"><img src="{{ site.url }}/assets/img/final-logo-copy.jpg" width="196" height="auto" alt="logo lasaspiradoras.com"></a></li>
      <li class="show-for-medium-only"><a href="{{ site.url }}/#inicio"><img src="{{ site.url }}/assets/img/logo-las-aspiradoras-imagen.png" width="140" height="auto" alt="logo lasaspiradoras.com"></a></li>
      <li class="show-for-small-only"><a href="{{ site.url }}/#inicio"><img src="{{ site.url }}/assets/img/logo-las-aspiradoras-imagen.png" width="100" height="auto" alt="logo lasaspiradoras.com"></a></li>
      <li class="show-for-small-only">
        <button type="button" class="button" data-toggle="offCanvas">
          <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </button>
      </li>
      {% for item in site.data.nav-main %}
        <li class="hide-for-small-only"><a href="{{ item.url }}">{{ item.link }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
