---
layout: compress
---

{% include header.html %}

<div class="small-centered columns section-carte-panel">
	<div class="row">
		<div class="small-12 large-7 columns">
		<h1 class="hide">Abonate a la newsletter de Las aspiradoras</h1>
		<p class="section-carte-newsletter-description text-center news">👋Bienvenid@, consigue la mejor información sobre aspiradoras en tu email.</p>
		</div>
		<div class="small-12 large-5 columns">
			<form action="//lasaspiradoras.us14.list-manage.com/subscribe/post?u=8fa06547907a5fddab0caf2fd&amp;id=3b68ae7be6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<div class="row">
						<div class="small-12 medium-7 columns">
							<div class="mc-field-group">
								<label for="mce-EMAIL"></label>
									<input type="email" placeholder="direccion@email" value="" name="EMAIL" class="required email input-newsletter" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
						</div>
						<div style="position: absolute; left: -5000px">
							<input type="text" name="b_5f1d68675f48a4d9deba26d69_fe09463a6e" tabindex="-1" value="">
						</div>
						<div class="small-12 medium-5 columns text-center">
							<input onclick="ga('send', 'event', 'Newsletter', 'submit email address', 'Inscription newsletter')" type="submit" class="button-newsletter" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{{ content }}

{% include footer.html %}
