---
layout: default
---

<main>
  <article>
      <div class="container-article">
        <h1 class="small-12 small-centered columns">{{ page.title }}</h1>
          <p class="meta"> <a href="https://twitter.com/Las_aspiradoras">@Las_aspiradoras.com</a></p>
          <div class="text-center">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=12&l=ur1&category=blackfriday2017&banner=1E91D12NP0PBS3V2P902&f=ifr&linkID=545f9528146381c541c2ca8aafdbf70e&t=lasaspirad-21&tracking_id=lasaspirad-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
          </div>
          <p class="post-content">
            {{ content }}
          </p>
          <p>Sara de lasaspiradoras.com<p>
      </div>
  </article>
</main>
