---
layout: default
---

<main>
<article class="mine">
  <div class="text-center">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=12&l=ur1&category=blackfriday2017&banner=1E91D12NP0PBS3V2P902&f=ifr&linkID=545f9528146381c541c2ca8aafdbf70e&t=lasaspirad-21&tracking_id=lasaspirad-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
  <div class="row">
    <div class="container-article">
     <div class="row">
        <h1 class="small-10 small-centered columns text-center">{{ page.title }}</h1>
        <div class="text-center">
        <img src="{{site.url}}/assets/img/{{ page.image }}" width="300" height="auto" alt="{{ page.model }}">
        </div>
      {% if page.energy-efficiency %}
      <p class="progress-bar">Eficiencia energetica {{ page.energy-efficiency }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.energy-efficiency-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.energy-efficiency-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text ">{{ page.energy-efficiency-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.performance-carpets %}
      <p class="progress-bar">Rendimiento alfombras {{ page.performance-carpets }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.performance-carpets-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.performance-carpets-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.performance-carpets-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.performance-hard-floors %}
      <p class="progress-bar">Rendimiento suelos duros {{ page.performance-hard-floors }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.performance-hard-floors-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.performance-hard-floors-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.performance-hard-floors-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.powder-emission-class %}
      <p class="progress-bar">Clase de emisión de polvo {{ page.powder-emission-class }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.powder-emission-class-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.powder-emission-class-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.powder-emission-class-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.charge %}
      <p class="progress-bar">Tiempo de carga {{ page.charge }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.charge-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.charge-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.charge-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.consumption-year %}
      <p class="progress-bar">Consumo anual estimado {{ page.consumption-year }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.consumption-year-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.consumption-year-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.consumption-year-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.sound %}
      <p class="progress-bar">Ruido {{ page.sound }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.sound-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.sound-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.sound-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.weight %}
      <p class="progress-bar">Peso {{ page.weight }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.weight-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.weight-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.weight-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.radius %}
      <p class="progress-bar">Radio de accion {{ page.radius }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.radius-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.radius-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.radius-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.capacity %}
      <p class="progress-bar">Capacidad {{ page.capacity }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.capacity-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.capacity-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.capacity-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {% if page.battery %}
      <p class="progress-bar">Duracion de la bateria {{ page.battery }}</p>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="{{ page.battery-op }}" aria-valuemax="100">
        <span class="progress-green" style="width: {{ page.battery-op | times: 100 | divided_by: 5 | append: '%' }}">
          <p class="progress-meter-text">{{ page.battery-op }}/5</p>
        </span>
      </div>
      {% endif %}
      {{content}}
    </div>
  </div>
</article>
</main>
